#blog{
    justify-content: center;
    align-items: center;
}

.space-under{
    margin-bottom: 50px;
}
.blog-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: fit-content;
    gap: 2px;
    height: fit-content;
}

.blog-card{
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    text-overflow: ellipsis;
    gap: 20px;
    padding: 20px;
    color: rgb(219, 219, 219);
    align-items: center;
    transition: 0.3s;
}


.blog-card h3{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
}

.blog-card .sm{
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    color: black;
    gap: 5px;
}

.btn-text{
    color: black;
}

.blog-card:hover{
    background-color: rgb(31, 31, 31);
}

.hyper{
    color : #d05fca;
    background-color: rgb(21, 21, 21);
    border-radius: 5px;
    padding: 3px;
}

.sm{
    font-size: 0.8rem;
}

.sm:hover{
    gap: 15px;
}

.blog-card .sm svg{
    width: 20px;
}